<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{default title site.title}} · {{default description site.description}}</title>
  </head>
  <body>
    {% body %}
  </body>
</html>
